body {
    font-family: "roboto, Arial Black", Gadget, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}
input[type=radio]:checked + label {
    color: #ccc8ce;
    background: #675f6b;
}
  
label + input[type=radio] + label {
    border-left: solid 3px #675f6b;
}
  
.input-group, .radio-group {
    border: solid 3px #675f6b;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

input[type="file"] {
    display: none;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}
.svg {
    flex: 0;
}
#infos {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

table.minimalistBlack {
    border: 3px solid #FFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #FFF;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: .8em;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
    border-top: 4px solid black;
  }
  table.minimalistBlack thead th {
    font-size: .9em;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  table.minimalistBlack tfoot {
    font-size: .8em;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
  }
  table.minimalistBlack tfoot td {
    font-size: .8em;
  }

svg {
    background-color: black;
    vertical-align: baseline;
}
.svg {
    float: left;
}

.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 rgba(255,255,255, 0.8);
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

span.ringspace {
    margin-right: 0;
    float: right;
}

.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:5px 10px;
}
 
.info {
    color: #00529b;
    background-color: #bde5f8;
}
 
.success {
    color: #4f8a10;
    background-color: #dff2bf;
}
 
.warning {
    color: #9f6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}
